body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: (0, 0%, 95%);
}

#calculator{
    font-family: arial, sans-serif;
    background-color: #DED0B6;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #BBAB8C;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100p;
    border-radius: 50px;
    border: none;
    background-color: #FDF7E4;
    color: #C3E2C2;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hoover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: (0, 0%, 50%);
}
.operator-btn{
    background-color: #FAEED1;
}
.operator-btn:hoover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}